---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/character/Archimonde/Sweetlie?apikey=BNET_API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - en-GB
      content-type:
      - application/json;charset=UTF-8
      last-modified:
      - Fri, 06 Jan 2017 00:40:08 GMT
      retry-after:
      - '600'
      x-mashery-responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      x-plan-qps-allotted:
      - '100'
      x-plan-qps-current:
      - '1'
      x-plan-quota-allotted:
      - '36000'
      x-plan-quota-current:
      - '1'
      x-plan-quota-reset:
      - Friday, January 6, 2017 3:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1483663208000,"name":"Sweetlie","realm":"Archimonde","battlegroup":"Misery","class":11,"race":8,"gender":1,"level":110,"achievementPoints":18395,"thumbnail":"archimonde/223/134141151-avatar.jpg","calcClass":"U","faction":1,"totalHonorableKills":12972}'
  recorded_at: Fri, 06 Jan 2017 14:43:53 GMT
recorded_with: VCR 3.0.3
